// Подключаем шрифты
// &display=swap
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900");
@import "./base/var";
@import "./base/sprite";

body {
  font-family: $fontFamily, sans-serif;
  // font-weight: 400;
  // font-style: normal;
  // color: #000000;
}
.active {
  color: red;
  font-size: 54px;
}
.btn {
  width: 160px;
  height: 50px;
  color: aqua;
  cursor: pointer;
}
