@font-face {
  font-family: $fontFamily;
  src: url("../fonts/" + $fontFamily + ".eot");
  src: url("../fonts/" + $fontFamily + ".eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/" + $fontFamily + ".woff") format("woff"),
    url("../fonts/" + $fontFamily + ".woff2")
      format("woff2"),
    url("../fonts/" + $fontFamily + ".ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
