.btn {
  display: $myDisplayBtn;
  border: $myBorderBtn;
  border-radius: $myBorderRadiusBtn;
  background-color: $myBgColorBtn;
  font-size: $myFontSizeBtn;
  // font-weight: $myFontWeightBtn;
  color: $myColorBtn;
  text-align: $myTextAlignBtn;
  line-height: $myLineHeightBtn;
  vertical-align: $myVerticalAlignBtn;
  transition: $myTransitionBtn;
  cursor: $myCursorBtn;
  &:hover {
    background-color: $myBgColorBtn;
    color: $myColorBtn;
  }
  &__icon {
    border: none;
    width: rem(14);
    height: rem(14);
    background-color: transparent;
  }
  @import "./button__btn";
}
