&__primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;
  &:hover {
    background-color: darken($primary, 10%);
  }
}
&__success {
  background-color: $success;
  border-color: $success;
  color: $white;
  &:hover {
    background-color: darken($success, 10%);
  }
}
&__danger {
  background-color: $danger;
  border-color: $danger;
  color: $white;
  &:hover {
    background-color: darken($danger, 10%);
  }
}
&__warning {
  background-color: $warning;
  border-color: $warning;
  color: $white;
  &:hover {
    background-color: darken($warning, 10%);
  }
}
&__dark {
  background-color: $dark;
  border-color: $dark;
  color: $white;
  &:hover {
    background-color: darken($dark, 10%);
  }
}
&__outline-primary {
  border-color: $primary;
  color: $primary;
  &:hover {
    background-color: $primary;
  }
}
&__outline-success {
  border-color: $success;
  color: $success;
  &:hover {
    background-color: $success;
  }
}
&__outline-danger {
  border-color: $danger;
  color: $danger;
  &:hover {
    background-color: $danger;
  }
}
&__outline-warning {
  border-color: $warning;
  color: $warning;
  &:hover {
    background-color: $warning;
  }
}
&__outline-dark {
  border-color: $dark;
  color: $dark;
  &:hover {
    background-color: $dark;
  }
}
&__block {
  display: block;
  width: 100%;
}
