.dropdown {
  display: inline-block;
  position: relative;
  transition: all 2s;
  &__btn {
    width: rem(15);
    height: rem(15);
    border: none;
    background-color: transparent;
  }
  &__arrow {
    width: 100%;
  }
  &__menu {
    width: 100%;
    padding: 0 0 rem(15) rem(10);
    display: flex;
    flex-direction: column;
    // border: 1px solid #000000;
    // border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1000;
  }
  &__item {
    margin-top: rem(15);
  }
  &__link {
    text-decoration: none;
  }
}
