* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamilyBasic, sans-serif;
}

body {
  font-family: $fontFamilyBasic, sans-serif;
  // font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

.container {
  margin: 0 auto;
  // padding: 0 rem($contPaddingXl);
  max-width: rem($contWidthXl);
}

@media (max-width: em($mediaLg)) {
  .container {
    max-width: rem($contWidthLg);
  }
}
@media (max-width: em($mediaMd)) {
  .container {
    max-width: rem($contWidthMd);
    // padding: 0 rem(20);
  }
}
@media (max-width: em($mediaSm)) {
  .container {
    @include SizeRem(
      "max-width",
      $mediaSm,
      320,
      $mediaSm,
      320
    );
    @include SizeRem(
      "padding",
      $contPaddingMd,
      $contPaddingXs,
      $mediaSm,
      320
    );
    padding-top: 0;
    padding-bottom: 0;
  }
}
// @media (max-width: em($mediaSm)) {
//   .container {
//     max-width: rem($contWidthSm);
//     padding: 0 rem(contPaddingSm);
//   }
// }
// @media (max-width: em($mediaXs)) {
//   .container {
//   @include SizeRem("max-width", $mediaXs, 320, $mediaXs, 320);
//   @include SizeRem("padding", $contPaddingSm, contPaddingXs, $mediaXs, 320);
//   }
// }
