@import "./mixins";

$white: #ffffff;
$black: #000000;
$primary: #025fff;
$success: #2a9924;
$danger: #ea2e41;
$warning: #ffc907;
$dark: #343a40;

// Дополнительная цветовая палитра
$myColorWhite: #ffffff;
$myColorBlack: #000000;
$myColorRed: red;
$myColorBlue: blue;
$myColorGreen: green;
$myColorYellow: Yellow;
$myColorDarkGreeg: #12343b;
$myColorBtn: #12343b;

// Шрифт по умолчанию
$fontFamilyBasic: "Roboto";
// Дополнительный шрифт по необходимости
$fontFamilyAdditional: "";
// Шрифт
$fontSize: rem(14);
$fontWeight: 400;
$color: $black;

// Основная цветовая палитра
// background
$myBgColor: $myColorDarkGreeg;
// border
$myColorBorder: $myColorBlue;
// button
// $myColorBorderBtn: $primary;
$myPaddingBtn: rem(10) rem(15);
$myDisplayBtn: inline-block;
$myBorderBtn: 1px solid $primary;
$myBorderRadiusBtn: rem(4);
$myBgColorBtn: $primary;
$myFontSizeBtn: rem(14);
$myFontWeightBtn: 500;
$myColorBtn: $white;
$myTextAlignBtn: center;
$myLineHeightBtn: 1.5;
$myVerticalAlignBtn: middle;
$myTransitionBtn: all 0.2s;
$myCursorBtn: pointer;
